.a-icon {
  width: em(24, 15);
  height: em(24, 15);

  path,
  polyline {
    fill: currentColor;
  }

  &--use-stroke {
    path,
    polyline {
      fill: none;
      stroke: currentColor;
    }
  }

  &--meta-link {
    margin-right: em(4, 14);
  }
}
