.a-label {
  display: block;
  margin-bottom: em(5, 13);
  padding: 0 em(10, 13);
  color: $color-granite;
  font-size: rem(13);
  line-height: (16 / 13);

  @include media-breakpoint-up(xlarge) {
    font-size: rem(20);
  }

  @include media-breakpoint-up(xxlarge) {
    font-size: rem(26);
  }
}
