.a-box {
  padding: rem(20);
  color: $color-primary-white;
  background-color: $color-primary-blue;

  &[aria-hidden="false"] {
    display: inherit;
  }

  &[aria-hidden="true"] {
    display: none;
  }
}
