$transition-time-default: 340ms;

$font-size-h1: rem(30);
$font-size-h1-large: rem(50);

$font-size-h2: rem(24);
$font-size-h2-large: rem(40);

$font-size-h3: rem(20);
$font-size-h3-large: rem(30);

$font-size-h4: rem(16);
$font-size-h4-large: rem(20);

$font-size-regular: rem(16);
$font-size-regular-large: rem(20);
