$transition-time-default: 340ms;

$font-size-h1: rem(30);
$font-size-h1-large: rem(50);

$font-size-h2: rem(24);
$font-size-h2-large: rem(40);

$font-size-h3: rem(20);
$font-size-h3-large: rem(30);

$font-size-h4: rem(16);
$font-size-h4-large: rem(20);

$font-size-regular: rem(15);
$font-size-regular-xlarge: rem(23);
$font-size-regular-xxlarge: rem(30);

/// Button

$button-border-width: rem(1);
$button-border-radius: rem(2);
$button-min-width: rem(60);

$button-border-width-xlarge: rem(2);
$button-border-radius-xlarge: rem(3);

$button-border-radius-xxlarge: rem(4);

/// Input

$input-line-height: 1.6;
$input-border-width: rem(2);
$input-border-radius: rem(2);
$input-padding-vertical: rem(10);
$input-height: (($input-border-width + $input-padding-vertical) * 2) +
  ($font-size-regular * $input-line-height);

$input-line-height-xlarge: 1.5652;
$input-border-width-xlarge: rem(3);
$input-border-radius-xlarge: rem(3);
$input-padding-vertical-xlarge: rem(15);
$input-height-xlarge: (
    ($input-border-width-xlarge + $input-padding-vertical-xlarge) * 2
  ) + ($font-size-regular-xlarge * $input-line-height-xlarge);

$input-line-height-xxlarge: 1.6;
$input-border-width-xxlarge: rem(4);
$input-border-radius-xxlarge: rem(4);
$input-padding-vertical-xxlarge: rem(20);
$input-height-xxlarge: (
    ($input-border-width-xxlarge + $input-padding-vertical-xxlarge) * 2
  ) + ($font-size-regular-xxlarge * $input-line-height-xxlarge);

/// Search form

$search-submit-min-width: rem(54);
$search-submit-min-width-xlarge: rem(84);
$search-submit-min-width-xxlarge: rem(112);
