.m-search-form {
  position: relative;

  &__submit {
    position: absolute;
    right: $input-border-width;
    top: $input-border-width;
    height: $input-height - $input-border-width * 2;
    width: $search-submit-min-width;
  }
}
