$button-min-width: rem(60);
$button-padding-x: em(40, 15);
$button-arrow-padding-x: em(66, 15);
$button-arrow-position-x: em(10, 15);
$button-arrow-hover-position-x: em(36, 15);

.a-btn {
  display: inline-block;
  align-items: center;
  width: 100%;
  background-color: $color-silver;
  border: em(1, 15) solid $color-silver;
  border-radius: em(2, 15);
  color: $color-iron;
  cursor: pointer;
  min-width: $button-min-width;
  overflow: hidden;
  padding: em(10, 15) $button-padding-x;
  will-change: background-color, border-color;

  @include media-breakpoint-up(small) {
    width: auto;
  }

  > .a-icon {
    position: absolute;
    top: 50%;
    margin-top: em(12, 15) * -1;
  }

  &--primary {
    background-color: $color-red;
    border-color: $color-red;
    color: $color-white;
    will-change: background-color, border-color;

    @include hover {
      background-color: $color-red-125;
      border-color: $color-red-125;
    }
  }

  &--search {
    @extend .a-btn--primary;
    border-radius: 0;
    min-width: auto;
    width: 100%;
    height: 100%;
    padding: 0;

    > .a-icon {
      left: 50%;
      margin-left: em(12, 15) * -1;
    }
  }

  &--arrows {
    position: relative;
    padding-right: $button-arrow-padding-x;
    will-change: background-color, border-color, padding-left, padding-right;
    transition: background-color 0.4s ease, border-color 0.4s ease,
      padding-left 0.4s ease, padding-right 0.4s ease;

    > .a-icon {
      will-change: opacity;
      transition: opacity 0.4s ease;

      &:last-child {
        margin-left: em(6, 15);
        opacity: 1;
      }

      &:first-child {
        margin-left: em(30, 15) * -1;
        opacity: 0;
      }
    }

    @include hover {
      padding-left: $button-arrow-padding-x;
      padding-right: $button-padding-x;

      > .a-icon {
        opacity: 0;

        &:first-child {
          opacity: 1;
        }
      }
    }
  }
}
