.a-btn {
  @extend %font-regular;
  display: flex;
  align-items: center;
  background-color: $color-primary-white;
  border: $button-border-width solid transparent;
  border-radius: $button-border-radius;
  color: $color-primary-blue;
  cursor: pointer;
  min-width: $button-min-width;
  overflow: hidden;
  padding: 0.6667em 2.6667em;
  will-change: color;

  border-width: $button-border-width-xlarge;
  border-radius: $button-border-radius-xlarge;
  font-size: $font-size-regular-xlarge;

  @include media-breakpoint-up(xxlarge) {
    border-radius: $button-border-radius-xxlarge;
  }

  &--primary {
    background-color: $color-red;
    border-color: $color-red;
    color: $color-white;
    will-change: background-color, border-color;

    @include hover {
      background-color: $color-red-125;
      border-color: $color-red-125;
    }
  }

  &--search {
    @extend .a-btn--primary;
    justify-content: center;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    > .a-icon {
      width: rem(24);
      height: rem(24);
    }

    @include media-breakpoint-up(xlarge) {
      > .a-icon {
        width: rem(36);
        height: rem(36);
      }
    }

    @include media-breakpoint-up(xlarge) {
      > .a-icon {
        width: rem(48);
        height: rem(48);
      }
    }
  }
}
