.a-btn {
  @extend %font-regular;
  display: flex;
  align-items: center;
  background-color: $color-primary-white;
  border: $button-border-width solid transparent;
  border-radius: $button-border-radius;
  color: $color-primary-blue;
  cursor: pointer;
  min-width: rem(60);
  overflow: hidden;
  padding: rem(10) rem(40);
  will-change: color;

  &--primary {
    background-color: $color-red;
    border-color: $color-red;
    color: $color-white;
    will-change: background-color, border-color;

    @include hover {
      background-color: $color-red-125;
      border-color: $color-red-125;
    }
  }

  &--icon {
    padding: rem(11) rem(17);

    > .a-icon {
      width: rem(24);
      height: rem(24);
    }
  }
}
