.a-error {
  display: block;
  margin-top: em(2, 14);
  color: $color-red;
  font-size: rem(14);
  line-height: (21 / 14);

  @include media-breakpoint-up(xlarge) {
    font-size: rem(21);
  }

  @include media-breakpoint-up(xxlarge) {
    font-size: rem(28);
  }
}
